<p class="title">
  radio-answer works!
</p>
<div *ngIf="answerForm">
  <form [formGroup]="answerForm">
    <mat-form-field>
      <input matInput placeholder="Question" formControlName="title">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Short description" formControlName="description">
    </mat-form-field>

    <mat-checkbox formControlName="required">required</mat-checkbox>

    <div formArrayName="variants" #overlay class="overlay">
      <div *ngFor="let variant of variants.controls; index as i"  class="ret">
        <div class="parent" #parent>

          <div class="drugger" drag-n-drop [parent]="parent.parentNode" [selector]="'div.ret'" [overlay]="overlay" (dragEnd)="changeArray($event)" draggable="true">dragger</div>

          <mat-form-field class="ret">
            <mat-radio-button [disabled]="true"></mat-radio-button>
            <input matInput [formControlName]="i" placeholder="Option">
            <button mat-button color="primary" type="button" (click)="remove(i)"> <mat-icon mat-list-icon class="remove"> delete</mat-icon>
            </button>
          </mat-form-field>

        </div>
      </div>
      <button mat-raised-button color="primary" type="button" (click)="add()">add <mat-icon mat-list-icon class="removel">check box


      </mat-icon>
      </button>
    </div>
  </form>
</div>
