<div *ngIf="answerForm">
  <form [formGroup]="answerForm">
    <mat-form-field>
      <input matInput placeholder="Question" formControlName="title">
    </mat-form-field>

    <mat-checkbox formControlName="required">required</mat-checkbox>

    <mat-form-field class="textarea">
      <textarea matInput placeholder="Long description" formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field class="textarea">
      <textarea matInput placeholder="placeholder" formControlName="placeholder"></textarea>
    </mat-form-field>

  </form>
</div>